@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg:#f3f4ff;
    --title-bg: #272b5c;
    --button-bg: #4b5aaf;
    --light-pink: #2a329b;
    --image-bg:  #dbdfff ;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #243997 0%, #c2c6fb 100%);
}

.contenedor-login {
    height: 35.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.contenedor-info-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.contenedor-info-registro {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
   
}

.contenedor-img {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.titulo {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.iniciar-rsocial {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

figure {
    margin: 0%;
}


.iniciar-rsocial-elem {
    width: 8.5rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciar-rsocial-elem img {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.iniciar-rsocial-elem:hover {
    background-color: rgb(16, 36, 148);
}

.contenedor-info-login > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.contenedor-inputs {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-bottom: 10px;
}



.input:hover {
    border: 2px solid rgb(142, 149, 250);
}

.btn:hover {
    background-color: rgb(16, 36, 148);
    
    
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    margin-bottom: 10px;
}

.contenedor-inputs p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .contenedor-login {
        width: 70%;
        margin-top: 3rem;
    }
    .contenedor-info-login {
        width: 100%;
        border-radius: 5px;
    }
    
    .contenedor-img {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}







